<header>
    <h1>MY Responsive Website</h1>
    <nav>
        <ul>
            <li><a href="/home" class="nav">HOME</a></li>
            <li><a href="/about" class="nav">ABOUT</a></li>
            <li><a href="#" class="nav">SERVICES</a></li>
            <li><a href="#" class="nav">CONTACT</a></li>
        </ul>
    </nav>
</header>